.contacts {
    white-space: normal;
    margin: auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    min-height: 110vh;

    overflow: hidden;
    position: relative;

}

.contacts-content {
    margin-left: auto;
    display: flex;
    flex-flow: column wrap;
    width: 90%;
}

.sidebar-contacts {
    margin: auto;
    position: relative;
    width: 130px;
    top: 60% !important;
    transform: rotate(270deg);
    padding: 18px;
    color: rgba(180, 207, 228, 0.82);
    font-family: Palanquin-Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    display: flex;
    align-items: center;

}

.c-left {
    right: 40%;
    top: 70% !important;
}

.c-right {
    right: 100%;
}

.contacts-header {
    margin-top: 60px;
    width: 100%;
    padding: 12px 0;
}

.contact-title {

    font-family: PaytoneOne;
    font-size: 50px;
    color: #F3E1C0;

}

.contact-description {
    width: 50%;
    margin-top: 20px;
    color: #B4CFE4;
    font-family: Palanquin-Regular;
    font-size: 20px;
}

.form-group {
    display: flex;
    flex-flow: row wrap;
    width: 60%;

}

form {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}

.name-div {
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    justify-content: space-between;
}

.name,
.email {
    width: 44%;

}

.name,
.email,
.subject,
.message,
.submitbtn {
    padding: 16px 18px;
    margin: 10px 0;
    font-family: Palanquin-Regular;
    font-size: 16px;
    outline: none;
}

.name,
.email,
.subject,
.message {
    background-color: rgba(0, 33, 56, 0.76);
    color: #B4CFE4;
    border: none;
}

.message {
    height: 100px;
    resize: none;
}


.submitbtn {
    position: relative;
    left: 24%;
    padding: 16px 160px;
    margin: auto;
    text-decoration: none;
    font-family: Palanquin-Regular;
    color: #EE6B78;
    font-weight: 600;
    border: solid 7px #EE6B78;
    background-color: transparent;
    transition: ease 0.3s;
}


.submitbtn::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #EE6B78;
    transition: ease .35s;

}

.submitbtn:hover,
.submitbtn:focus {
    color: #fcf1decb;
    background-color: #EE6B78;
}

.submitbtn:hover:after {
    width: 100%;

}

#status {
    font-family: Palanquin-Regular;
    color: #b4cfe4dc;
    transition: 0.3s ease display;
    width: 30%;
    text-align: center;
    padding: 5px;
    position: relative;
    left: 29%;
    margin-top: 10px;
}

#status.success {
    background-color: #33632bb7;
    animation: status 3s ease forwards;
}

#status.error {
    background-color: #7e3e35b7;
    animation: status 3s ease forwards;
}

@keyframes status {
    0% {
        opacity: 1;
        pointer-events: all;
    }

    90% {
        opacity: 1;
        pointer-events: all;
    }

    100% {
        opacity: 0;
        pointer-events: none;
    }
}