
@font-face {
    font-family: PaytoneOne;
    src: url("./fonts/PaytoneOne-Regular.ttf");
}

@font-face {
    font-family: Palanquin-Bold;
    src: url("./fonts/Palanquin-Bold.ttf");
}

@font-face {
    font-family: Palanquin-Regular;
    src: url("./fonts/Palanquin-Regular.ttf");
}

@font-face {
    font-family: Palanquin-SemiBold;
    src: url("./fonts/Palanquin-SemiBold.ttf");
}

@font-face {
    font-family: PalanquinDark-Regular;
    src: url("./fonts/PalanquinDark-Regular.ttf");
}


@font-face {
    font-family: PalanquinDark-Bold;
    src: url("./fonts/PalanquinDark-Bold.ttf");
}

@font-face {
    font-family: PalanquinDark-Bold;
    src: url("./fonts/PalanquinDark-Bold.ttf");
}