.sidebar-intro {
    margin: auto;
    width: 130px;
    position: relative;
    top: 70%;
    transform: rotate(90deg);
    padding: 18px;
    color: rgba(180, 207, 228, 0.82);
    font-family: Palanquin-Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    display: flex;
    align-items: center;

}

.left {
    right: 40%;
    transform: rotate(90deg);
}

.right {

    right: 100%;
}

.right-scroll,
.left-scroll {
    position: relative;
    top: 0;
    animation: introSide ease-in-out 0.4s infinite;
}

@keyframes introSide {
    from {
        left: 0;
    }

    to {
        left: 10px;
    }
}

.contacts_div {
    position: absolute;
    transform: rotate(90deg);
    top: 40%;
    width: 110px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    right: 0.10px;
}

.contact-me {
    font-family: Palanquin-Regular;
    color: #CCA9EF;
    font-size: 20px;
}

.icon:hover,
.icon:focus {
   color: #EE6B78;
}